@model IEnumerable<Asp_Dot_net_Web_Api_Prac_Client_one.Models.Product>

<h3>Products</h3>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image URL</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.ProductDescription</td>
                    <td>@product.ProductPrice</td>
                    <td><img src="@product.ProductImageUrl" alt="@product.ProductName" width="100" /></td>
                    <td>
                        <a asp-action="UpdateProduct" asp-route-id="@product.ProductId" class="btn btn-primary">Edit</a>
                        <a asp-action="DeleteProduct" asp-route-id="@product.ProductId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>    
    </table>
</div>